@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Hi, this site is my sandbox. I am currently working on a REST API, a reporting app, and statistical learning methonds. 
    I am using the .NET Core, SQL Server, C#, and R. This site is hosted on a free tier AWS Ubuntu server. Administering a server with bleeding edge software, 
    coding in two differnt languages, and picking up new statistical models is not a trival undertaking, however, I need to improve my skills.   
    
    Current goals: 
    <ul class="list-group">
        <li class="list-group-item">API view that documents the API and allows users to test API.</li>
        <li class="list-group-item">
            <ul class="list-group">
                <li class="list-group-item">Add access token input field to view.</li>
            </ul>
        </li>
        <li class="list-group-item">Shipped order report. </li>
        <li class="list-group-item">Add k-nearest neighbor code to github.</li>
    </ul>

</p>
