@{
    ViewData["Title"] = "Integration Documentation and API Testing";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<a href="http://localhost:57375/swagger">API documentation and testing</a>

Retrieve shipment confirmations 